.modal-btn-left,
.modal-btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  color: white;
  cursor: pointer;
  outline: none;
}

.modal-btn-left {
  left: 7%;
}

.modal-btn-right {
  right: 7%;
}
